{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row" style="margin-right: 0px;">
    <div class="offset-xs-4 col-xs-4">
        <!--Form with header-->
        <div class="card card-img-top container">
            <div class="card-block">
                <p>
                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                </p>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a href="{{ path('user_registration') }}" >Sign Up</a></p>
                    <p>Forgot <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
